@import "tailwindcss";

@theme {
  --background: oklch(0.9567 0.0144 244.72);

  --color-primary-50: oklch(0.9567 0.0144 244.72);
  --color-primary-100: oklch(0.8918 0.0366 241.83);
  --color-primary-200: oklch(0.7894 0.0762 238.17);
  --color-primary-300: oklch(0.7392 0.087 237.46);
  --color-primary-400: oklch(0.6707 0.0786 237.04);
  --color-primary-500: oklch(0.5944 0.0695 237.03);
  --color-primary-600: oklch(0.512 0.0601 237.04);
  --color-primary-700: oklch(0.422 0.0492 235.69);
  --color-primary-800: oklch(0.3281 0.0381 236.32);
  --color-primary-900: oklch(0.2303 0.027 235.97);
  --color-primary-950: oklch(0.1761 0.0209 239.68);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.3281 0.0381 236.32);
    --foreground: oklch(0.9567 0.0144 244.72);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
